.row {
  display: flex;
}
/* 
.video {
  width: 80%;
} */

@media screen and (max-width: 778px) {
  .firstRow,
  .secondRow {
    flex-direction: column;
  }

  .video {
    width: 100%;
  }

  .project_lg > img,
  .project_sm > img {
    height: auto;
  }

  .project_lg {
    width: 100%;
  }

  .project_sm {
    width: 100%;
  }
}
