.leftCol,
.rightCol {
  width: 50%;
}

.leftCol {
  margin-right: 30px;
}

.cardContainer {
  display: flex;
}
.flexCenter {
  display: flex;
  justify-content: center;
}

.flexBox {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.card {
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.cardContainer .card:first-child {
  margin-right: 10px;
}

.cardTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.cardHeader {
  font-weight: 500;
  font-size: 1.2rem;
}

@media screen and (max-width: 1200px) {
  .card {
    padding: 0.55rem;
  }
}

@media screen and (max-width: 1024px) {
  .card {
    padding: 1rem;
    margin: 20px 0 0;
  }

  .flexCenter {
    flex-direction: column;
  }

  .leftCol,
  .rightCol {
    width: 100%;
  }

  .skillsDiv {
    margin: 28px 0;
  }

  .cardTop {
    justify-content: start;
  }

  .cardTop > img {
    margin-right: 8px;
  }
}

@media screen and (max-width: 778px) {
  .cardContainer {
    flex-direction: column;
  }

  .cardContainer .card:first-child {
    margin: 0;
  }
}
