.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  transition: left 0.2s ease 0s;
  width: 100%;
  padding: 0.825rem 2.5rem;
  max-width: 1200px;
}

.logo .gif {
  display: none;
}

.logo:hover .gif {
  display: block;
}

.logo:hover .pic {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo > span {
  color: white;
  font-size: 1.3rem;
  margin-left: -10px;
}

.icon {
  width: 25px;
}

.navLinks {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-right: 20px;
}

.navLinks li a {
  margin: 0 20px 0;
  color: white;
}

.socialIcons {
  display: flex;
  justify-content: center;
}

.socialIcons li img {
  margin: 0 8px;
}

@media screen and (max-width: 778px) {
  .container {
    padding: 0.5rem 1.5rem;
  }
}
